* {
    box-sizing: border-box;
    font-family: 'Times New Roman';
    }
body{
    background-color:beige;
    background-blend-mode :hard-light white;
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(44, 24, 8);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
    #header .referencia{
        padding: 0 10px 0 400px;
        
    }
        #header .referencia a{
            text-decoration: none;
            color: white;
            padding: 0 30px;
            font-size: 25px;
        }
        #header .referencia a:hover{
            color: rgb(138, 138, 138);
        }
    #header .nombre{
        padding: 0 20px;
        color: white;
        font-size: 35px;

    }




table{
    background-color:lightyellow;
    /* border: 2px solid black; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
thead{
    background-color:khaki;
}
td{
    border: 2px solid black;
}
th{
    border: 2px solid black;
}
tr:hover{
    background-color:burlywood;
}

