body{
    background-color:beige;
    background-blend-mode :hard-light white;
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(44, 24, 8);
}


table{
    margin-top: 25px;
    background-color:lightyellow;
    /* border: 2px solid black; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
thead tr th{
    background-color:khaki;
}

table tr:nth-child(odd){
    background-color: rgb(253, 253, 162);
}

tr:hover{
    background-color:burlywood;
    transform: scale(1.01);
}

img:hover{
    transform: scale(1.5);
}
