body{
    background-color:rgb(231, 243, 243);
    background-blend-mode :hard-light white;
    margin: 0;
    padding: 0;
}

#header{
    /* background-color: hsla(238, 14%, 8%, 1); */
    background-color: rgb(11, 11, 32);    
}

table{
    background-color:rgb(199, 223, 231);
    /* border: 2px solid black; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 10px 30px 10px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
thead tr th{
    background-color:rgb(163, 210, 241);
}

table tr:nth-child(odd){
    background-color: rgb(176, 212, 224);
}
tr:hover{
    background-color:rgb(151, 171, 180);
    transform: scale(1.01);
}

#titulo{
    background-color: rgb(153, 198, 228);
    padding: 10px 10px 10px 10px;
    margin: 40px 0 20px 0;
    font-size: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    size: 100px;
}

.imagen:hover{
    transform: scale(1.5);
}

